{:payload {:cmd ["bb" "/home/err/.agents/skills/ultra-code/scripts/ultra.bb" "run" ".ημ/workflows/eng-003g-review.edn" "--fresh"], :cwd "/home/err/spaces/epiphany", :pid 3315194}, :event/time "2026-07-24T23:40:46.491Z", :event/to {:actor-id "task.bb.793cf639", :actor-kind "actor"}, :event/type "task.started", :causal/root "bda107ad-1ba2-449c-91f6-5c970b6a4907", :event/id "bda107ad-1ba2-449c-91f6-5c970b6a4907", :event/from {:actor-id "task.bb.793cf639", :actor-kind "actor"}, :session/id "05919eba-52fd-4ed0-b1ee-17a2ee9620a5", :delivery/mode "tell"}
{:payload {:code 0, :signal nil, :killed false, :ok true, :stdout-lines 12, :stderr-lines 0, :delivery-failures 0}, :event/time "2026-07-24T23:55:46.572Z", :event/to {:actor-id "task.bb.793cf639", :actor-kind "actor"}, :event/type "task.exited", :causal/root "bda107ad-1ba2-449c-91f6-5c970b6a4907", :event/id "27bcae65-ae21-436e-aa87-280f6f6bd365", :event/from {:actor-id "task.bb.793cf639", :actor-kind "actor"}, :session/id "76968f75-2357-40b0-844a-4275e730aadc", :delivery/mode "tell"}
