{:payload {:cmd ["bb" "/home/err/.agents/skills/ultra-code/scripts/ultra.bb" "run" ".ημ/workflows/eng-017n-review.edn" "--fresh"], :cwd "/home/err/spaces/epiphany", :pid 3553491}, :event/time "2026-07-25T01:05:57.952Z", :event/to {:actor-id "task.bb.56315dc5", :actor-kind "actor"}, :event/type "task.started", :causal/root "96047657-2930-423a-bdcc-67e90e9c0142", :event/id "96047657-2930-423a-bdcc-67e90e9c0142", :event/from {:actor-id "task.bb.56315dc5", :actor-kind "actor"}, :session/id "882e6591-ddf9-4bed-9c88-a29324595461", :delivery/mode "tell"}
{:payload {:code 0, :signal nil, :killed false, :ok true, :stdout-lines 50, :stderr-lines 0, :delivery-failures 0}, :event/time "2026-07-25T01:29:14.995Z", :event/to {:actor-id "task.bb.56315dc5", :actor-kind "actor"}, :event/type "task.exited", :causal/root "96047657-2930-423a-bdcc-67e90e9c0142", :event/id "ad45c29a-8e41-4780-beae-0aa18d1b2be1", :event/from {:actor-id "task.bb.56315dc5", :actor-kind "actor"}, :session/id "d063a7ac-f17c-430c-801d-5945303b2748", :delivery/mode "tell"}
