{:payload {:cmd ["bb" "/home/err/.agents/skills/ultra-code/scripts/ultra.bb" "run" ".ημ/workflows/us-parent-verification.edn" "--fresh"], :cwd "/home/err/spaces/epiphany", :pid 1289438}, :event/time "2026-07-25T13:20:38.908Z", :event/to {:actor-id "task.bb.3baefd1f", :actor-kind "actor"}, :event/type "task.started", :causal/root "88cecb8e-2e4e-4581-8ed1-8e009d3ce4ad", :event/id "88cecb8e-2e4e-4581-8ed1-8e009d3ce4ad", :event/from {:actor-id "task.bb.3baefd1f", :actor-kind "actor"}, :session/id "adf20059-5bcc-470c-af94-46ecd0c8b41c", :delivery/mode "tell"}
{:payload {:code 0, :signal nil, :killed false, :ok true, :stdout-lines 102, :stderr-lines 0, :delivery-failures 0}, :event/time "2026-07-25T13:52:09.698Z", :event/to {:actor-id "task.bb.3baefd1f", :actor-kind "actor"}, :event/type "task.exited", :causal/root "88cecb8e-2e4e-4581-8ed1-8e009d3ce4ad", :event/id "40177f68-23e9-4c06-beb7-b849f1fe7738", :event/from {:actor-id "task.bb.3baefd1f", :actor-kind "actor"}, :session/id "3fef3f0b-4661-48ac-8ce4-1dc4703622f8", :delivery/mode "tell"}
