{:payload {:cmd ["bb" "/home/err/.agents/skills/ultra-code/scripts/ultra.bb" "run" ".ημ/workflows/eng-017f-review.edn" "--fresh"], :cwd "/home/err/spaces/epiphany", :pid 3636254}, :event/time "2026-07-25T01:34:36.221Z", :event/to {:actor-id "task.bb.281a0d43", :actor-kind "actor"}, :event/type "task.started", :causal/root "e4ea46e6-1b1b-4b43-80f5-afe69ce0ccf3", :event/id "e4ea46e6-1b1b-4b43-80f5-afe69ce0ccf3", :event/from {:actor-id "task.bb.281a0d43", :actor-kind "actor"}, :session/id "52c95a9a-083b-4db4-afbe-bd99cfdc2ae7", :delivery/mode "tell"}
{:payload {:code 0, :signal nil, :killed false, :ok true, :stdout-lines 63, :stderr-lines 0, :delivery-failures 0}, :event/time "2026-07-25T01:54:37.682Z", :event/to {:actor-id "task.bb.281a0d43", :actor-kind "actor"}, :event/type "task.exited", :causal/root "e4ea46e6-1b1b-4b43-80f5-afe69ce0ccf3", :event/id "cad9845a-f96e-4245-bfc9-28a6461f4ef1", :event/from {:actor-id "task.bb.281a0d43", :actor-kind "actor"}, :session/id "28cf59bf-5659-4a57-93af-5341693f00f7", :delivery/mode "tell"}
