{:payload {:cmd ["bb" "/home/err/.agents/skills/ultra-code/scripts/ultra.bb" "run" ".ημ/workflows/eng-017j-review.edn" "--fresh"], :cwd "/home/err/spaces/epiphany", :pid 210048}, :event/time "2026-07-25T06:29:01.724Z", :event/to {:actor-id "task.bb.e99a84d4", :actor-kind "actor"}, :event/type "task.started", :causal/root "8d8c5797-abe3-40f1-bd7c-27f5fad254a7", :event/id "8d8c5797-abe3-40f1-bd7c-27f5fad254a7", :event/from {:actor-id "task.bb.e99a84d4", :actor-kind "actor"}, :session/id "ec83fa9d-4d2f-45da-852d-cc44ac83f498", :delivery/mode "tell"}
{:payload {:code 0, :signal nil, :killed false, :ok true, :stdout-lines 64, :stderr-lines 0, :delivery-failures 0}, :event/time "2026-07-25T06:50:18.720Z", :event/to {:actor-id "task.bb.e99a84d4", :actor-kind "actor"}, :event/type "task.exited", :causal/root "8d8c5797-abe3-40f1-bd7c-27f5fad254a7", :event/id "0775feb0-b2c3-4696-8dfe-91e58bb3d50c", :event/from {:actor-id "task.bb.e99a84d4", :actor-kind "actor"}, :session/id "888a040a-a14e-4fcb-8285-4afa55268e6a", :delivery/mode "tell"}
