{:payload {:cmd ["bb" "/home/err/.agents/skills/ultra-code/scripts/ultra.bb" "run" ".ημ/workflows/eng-017i-review.edn" "--fresh"], :cwd "/home/err/spaces/epiphany", :pid 3758082}, :event/time "2026-07-25T02:18:08.663Z", :event/to {:actor-id "task.bb.9692d554", :actor-kind "actor"}, :event/type "task.started", :causal/root "68d9eeba-e0ba-4748-960a-1990d2a72176", :event/id "68d9eeba-e0ba-4748-960a-1990d2a72176", :event/from {:actor-id "task.bb.9692d554", :actor-kind "actor"}, :session/id "330551b4-22b5-48ad-a981-78f5574864fb", :delivery/mode "tell"}
{:payload {:code 0, :signal nil, :killed false, :ok true, :stdout-lines 60, :stderr-lines 0, :delivery-failures 0}, :event/time "2026-07-25T02:46:57.088Z", :event/to {:actor-id "task.bb.9692d554", :actor-kind "actor"}, :event/type "task.exited", :causal/root "68d9eeba-e0ba-4748-960a-1990d2a72176", :event/id "c2d4040d-9eb8-483b-b679-0d5650f225fc", :event/from {:actor-id "task.bb.9692d554", :actor-kind "actor"}, :session/id "c1eef32b-cd64-42f7-8176-19b0d28589af", :delivery/mode "tell"}
