{:payload {:cmd ["bb" "/home/err/.agents/skills/ultra-code/scripts/ultra.bb" "run" ".ημ/workflows/eng-017e-017g2-review.edn" "--fresh"], :cwd "/home/err/spaces/epiphany", :pid 3406208}, :event/time "2026-07-25T00:13:21.553Z", :event/to {:actor-id "task.bb.a254706e", :actor-kind "actor"}, :event/type "task.started", :causal/root "aae88239-e058-4796-916c-54f6d162797d", :event/id "aae88239-e058-4796-916c-54f6d162797d", :event/from {:actor-id "task.bb.a254706e", :actor-kind "actor"}, :session/id "23f52c4a-8020-41cc-aa13-febf5d6f39e7", :delivery/mode "tell"}
{:payload {:code 0, :signal nil, :killed false, :ok true, :stdout-lines 109, :stderr-lines 0, :delivery-failures 0}, :event/time "2026-07-25T00:59:22.742Z", :event/to {:actor-id "task.bb.a254706e", :actor-kind "actor"}, :event/type "task.exited", :causal/root "aae88239-e058-4796-916c-54f6d162797d", :event/id "4bcbbbdd-19de-4a3f-aad7-3332abbc4de7", :event/from {:actor-id "task.bb.a254706e", :actor-kind "actor"}, :session/id "237ad5d4-5136-428a-af74-e035b7f8cebf", :delivery/mode "tell"}
