{:payload {:cmd ["bb" "/home/err/.agents/skills/ultra-code/scripts/ultra.bb" "run" ".ημ/workflows/eng-003g-review.edn" "--fresh"], :cwd "/home/err/spaces/epiphany", :pid 3197740}, :event/time "2026-07-24T22:59:46.796Z", :event/to {:actor-id "task.bb.3c0da1d0", :actor-kind "actor"}, :event/type "task.started", :causal/root "6a5f6a02-5fbb-434b-8a38-ce3d96bbe9c1", :event/id "6a5f6a02-5fbb-434b-8a38-ce3d96bbe9c1", :event/from {:actor-id "task.bb.3c0da1d0", :actor-kind "actor"}, :session/id "29eebdfc-d804-4f37-9459-c207a639088c", :delivery/mode "tell"}
{:payload {:code 0, :signal nil, :killed false, :ok true, :stdout-lines 51, :stderr-lines 0, :delivery-failures 0}, :event/time "2026-07-24T23:20:52.442Z", :event/to {:actor-id "task.bb.3c0da1d0", :actor-kind "actor"}, :event/type "task.exited", :causal/root "6a5f6a02-5fbb-434b-8a38-ce3d96bbe9c1", :event/id "4562cf80-d1ce-4750-a75e-ce161d06566c", :event/from {:actor-id "task.bb.3c0da1d0", :actor-kind "actor"}, :session/id "e313408f-cbb2-442f-80d1-0d2f6e47fbe7", :delivery/mode "tell"}
