{:payload {:cmd ["clojure" "-M:heretic" "mutate"], :cwd "/home/err/spaces/epiphany", :pid 4031134}, :event/time "2026-07-25T04:01:51.469Z", :event/to {:actor-id "task.clojure.a1ab7206", :actor-kind "actor"}, :event/type "task.started", :causal/root "74084ef9-2875-43ac-bc42-7951fe3f3339", :event/id "74084ef9-2875-43ac-bc42-7951fe3f3339", :event/from {:actor-id "task.clojure.a1ab7206", :actor-kind "actor"}, :session/id "6078c36c-3989-467b-b109-9f6d1d59eee1", :delivery/mode "tell"}
{:payload {}, :event/time "2026-07-25T06:21:24.936Z", :event/to {:actor-id "task.clojure.a1ab7206", :actor-kind "actor"}, :event/type "task.kill", :causal/root "8b472664-ece9-44f1-81a8-4a91b08a4d1d", :event/id "8b472664-ece9-44f1-81a8-4a91b08a4d1d", :event/from {:actor-id "opencode.session", :actor-kind "actor"}, :session/id "5b9174b1-e58d-4e91-985a-e512d84e2d15", :delivery/mode "tell"}
{:payload {:code 143, :signal nil, :killed true, :ok false, :stdout-lines 11, :stderr-lines 14, :delivery-failures 0}, :event/time "2026-07-25T06:21:26.220Z", :event/to {:actor-id "task.clojure.a1ab7206", :actor-kind "actor"}, :event/type "task.exited", :causal/root "74084ef9-2875-43ac-bc42-7951fe3f3339", :event/id "dc87e46d-5e7b-4790-a9c0-0d66b367cb93", :event/from {:actor-id "task.clojure.a1ab7206", :actor-kind "actor"}, :session/id "2aaf9d17-9e3d-4510-bc56-f489acb95cea", :delivery/mode "tell"}
